[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "yuzu-windows-download"

[packages]
python-dotenv = "1.0.0"
requests = "2.31.0"
clint = "0.5.1"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
